.noteCard {
  flex: 0 1 300px;
  position: relative;
  max-width: calc(33.33% - 1rem);
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
    0 4px 6px -2px rgba(255, 255, 255, 0.05);
  min-width: 255px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.noteTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.noteContent {
  font-size: 1rem;
  line-height: 1.5;
  color: #d1d5db;
}

.noteFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.noteButtons {
  display: flex;
  justify-content: flex-end;
}
.noteButton {
  border-radius: 9999px;
  border: 1px solid #ffffff;
  width: 3rem;
  height: 3rem;
  padding: 0rem;
  background-color: #030303cc;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.editButton {
  border: 1px solid #def701;

  background-color: rgba(222, 241, 18, 0.1);
}

.whiteIcon {
  filter: brightness(0) invert(1);
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
