.noteCard {
  flex: 1 1 300px;
  position: relative;
  max-width: calc(33.33% - 1rem);
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
    0 4px 6px -2px rgba(255, 255, 255, 0.05);
}

.noteTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.noteContent {
  font-size: 1rem;
  line-height: 1.5;
  color: #d1d5db;
}

.noteButton {
  position: absolute;
  bottom: -1.2rem;
  right: 3rem;
}

.editButton {
  background-color: #4b5563;
  color: #fff;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.editButton:hover {
  background-color: #6b7280;
}
